<div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="max-width-large">
                <div class="margin-bottom margin-small">
                  <h1 class="heading-style-h2">
{{ section.settings.text_heading }}
</h1>
                </div>
                <p class="text-size-small">Effective date: April 3, 2023</p>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "main",
    "name": "Legal Hero",
    "class": "section_content",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Privacy Policy"
        }
    ],
    "presets": [
        {
            "name": "Legal Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}