<div class="padding-global padding-section-medium">
          <div class="container-large">
            <h1 li-object="page.title" class="heading-style-h2">{{ page.title | default: 'Collections' }}</h1>
          </div>
        </div> {% schema %} {
    "tag": "header",
    "name": "List-Collection-Hero",
    "class": "section_small-hero",
    "presets": [
        {
            "name": "List-Collection-Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}