<div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout_component feature-484">
                <div class="max-width-xlarge align-center">
                  <h2 scrub-each-word="" text-split="" class="layout_text component-484 is-center-aligned heading-style-h4">
{{ section.settings.text_heading }}
</h2>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Text Highlight",
    "class": "section_layout center-text-animation",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."
        }
    ],
    "presets": [
        {
            "name": "Text Highlight",
            "category": "Content",
            "blocks": []
        }
    ]
} {% endschema %}