<div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout_component feature-484">
                <div class="max-width-xlarge align-center">
                  <h2 class="layout_text component-484 is-center-aligned heading-style-h4">
{{ section.settings.text_heading }}
</h2>
                </div>
              </div>
              <div bind="881ecc2f-e357-e9d3-2d7a-f867019b179e" class="layout_split-text component-484 w-embed w-script">
                <script>
document.addEventListener('DOMContentLoaded', function() {
// Function to check if the viewport width is 767px or less
function isMobile() {
  return window.innerWidth <= 767;
}
// Split text into individual words
const layoutText = new SplitType(".layout_text", { types: "words" });
const layoutTL = gsap.timeline();
// Define different start and end values for mobile devices
let startValue = isMobile() ? "top 35%" : "top center";
let endValue = isMobile() ? "bottom 90%" : "bottom center";
layoutTL.from(layoutText.words,{
  // Initial opacity for each word
  opacity: 0.25,
  // Stagger animation of each word
  stagger: 0.1,
  scrollTrigger: { 
    trigger: ".section_layout.component-484",
    // Trigger animation when .section_layout484 reaches certain part of the viewport
    start: startValue,
    // End animation when .section_layout484 reaches certain part of the viewport
    end: endValue,
    // Smooth transition based on scroll position
    scrub: 2 
  }
});
});
</script>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Text Highlight",
    "class": "section_layout component-484",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."
        }
    ],
    "presets": [
        {
            "name": "Text Highlight",
            "category": "Content",
            "blocks": []
        }
    ]
} {% endschema %}